extends ../layout

block content
  h1= title
  if(errors)
    h2.errors Oops an error occurred!
    ul.errors
      each error in errors
        li= error.message
  
  form(action="/books/new/", method="post", onsubmit="return confirm('Confirm your data, then click OK to add this entry.');")
    include form
    p
      input(type="submit", value="Create New Book")
    p
      a(href="/books/pg/1", class="button") Cancel